---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*------------------------------*\
    Grid System
\*------------------------------*/
.row,
.column {
  box-sizing: border-box;
  overflow: hidden; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.column {
  position: relative;
  float: left;
  display: block; }

.column + .column {
  margin-left: 1.6%; }

.column-1 {
  width: 6.86666666667%; }

.column-2 {
  width: 15.3333333333%; }

.column-3 {
  width: 23.8%; }

.column-4 {
  width: 32.2666666667%; }

.column-5 {
  width: 40.7333333333%; }

.column-6 {
  width: 49.2%; }

.column-7 {
  width: 57.6666666667%; }

.column-8 {
  width: 66.1333333333%; }

.column-9 {
  width: 74.6%; }

.column-10 {
  width: 83.0666666667%; }

.column-11 {
  width: 91.5333333333%; }

.column-12 {
  width: 100%;
  margin-left: 0; }

@media only screen and (max-width: 768px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    float: none;
    width: auto; }

  .column + .column {
    margin-left: 0; } 
}

/* specific divs */
@import 'type2';
@import 'colors2';

.site-header {
	background-color: $primary-color;
    position:fixed; 
    z-index:2;
    top:0; left:0;
    width:100%;
    height:4em;
    padding:0;
}

.header-left {
	width: 20%;
	float: left;
}

.nav-wrapper {
	list-style-type: none;
	padding: 0;
	margin: 0.75em 0em;
}

.nav-link {
	display: none;
	width: 14%;
	text-align: center;
}

.nav-wrapper .fa {
	font-size: 1.5em;
	color: $lightest-color;
}


.nav-wrapper h5 {
	margin-top: 0;
	text-align: center;
	font-weight: normal;
	color: $lightest-color;
}

.linkedin-square  {
	display: inline-block;
	font-size: 2em;
	margin: 0 1em;
}

.nav-link i {
	margin-bottom: 0px;
}

.header-right {
	float: right;
	width: 75%;
}

.search-wrapper {
	margin-top: -2.25em;
	input {
		height: 2.5rem;
		width: 60%;
		border: solid 1px $secondary-color-dark; 
		box-sizing: border-box;
	}

	button.search {
		width: 30%;
		min-width: 6rem;
		padding: 0.45em;
		background-color: $primary-color-dark;
		color: $lightest-color;
		border: 0;
			&:hover {
			background-color: $secondary-color-dark;
		}
	}
}
.profile {
	text-align: center;
	margin: 3em 2em;
	border-bottom: 1px solid $secondary-color-dark;
	h1, h3 {
	margin: 0;
	padding: 0;
	}
	p {
	margin: 1em auto 3em auto;
	}
	span {
	font-family: 'Merriweather';
	font-style: italic;
	}
	span:hover {
	text-decoration: underline;
	}
	.profpic {
		height: 5em;
		width: 5em;
	}
}

.share {
	margin: 0em 2em;
	textarea {
	padding: 0.5em;
	color: $primary-color-medium;
	box-sizing: border-box;
	height: 6em;
	width: 97.5%;
	border: solid 1px $secondary-color-dark;
	}
	.tab {
		display: inline-block;
		height: 3em;
		box-sizing: border-box;
		background-color: $secondary-color-dark;
			&:hover {
			background-color: $primary-color-medium;
			}
			&:active {
				background-color: $primary-color-dark;
			}
		width: 32%;
		text-align: center;
		p {
			color: $lightest-color;
		}	
	}

	.linknshare {
		.link {
			float: right;
			margin: 0.5em;
			padding: 0.5em 1em;
			border: 1px solid $light-color;
			span {
				display: inline-block;
				i {
					font-size: 2em;
					color: $primary-color-dark;
				}
				p, h6 {
					margin: 0;
				}
			}
		}
		
		.post {
			float: right;
			clear: both;
			color: $lightest-color;
			margin-right: 0.5em;
			padding: 1em 1.5em;
			background-color: $primary-color-medium;
			&:hover {
			background-color: $primary-color-dark;
		}
		}
	}
}

.updates {
	margin: 0em 2em;
}

.updates, .groups {
	h2 {
		margin-bottom: 1em;
		}
	.update, .group {
		margin: 0em 0em 0.5em 0em;
		clear: both;
		}
	.update {
	border: solid 1px $light-color;
	padding: 1em;
	border-radius: 4px;
	}
	.hide {
		display: none;
	}
	i {		
		font-size: 3em;
		color: $primary-color-dark;
		margin-right: 0em;
		float: left;
	}
	.text p {
		width: 80%;
		float: right;
		padding: 0;
		margin: 0;
		color: $secondary-color-dark;
	}

	.loadmore {
	margin: 2em auto;
	background-color: $lightest-color;
	text-align: center;
		.tile-wrapper {
			p {
			color: $primary-color-dark;
			padding: 0.5em 0em;
			}
		}
		&:hover {
			background-color: $primary-color-dark;
			color: $lightest-color;
		}
		
	}
}

.explore {
	margin: 2em 2em 7em 2em; 
	text-align: left;
}

.button {
	background-color: $secondary-color-dark;
	padding: 1px 2em;
	margin: 2em auto 2em auto;
	width: 90%;
	text-align: center;
	&:hover {
		background-color: $primary-color-medium;
	}
}

.jobs {
	background-color: $lightest-color;
	.tile-wrapper  {
		text-align: center;
		margin: auto;
	}
}

.firstrow, .secondrow {
	.column-2 {
	width: 28%;
	margin: 0.5em;
	display: inline;
	float: left;
		div {
			img {
				height: 3em;
				width: 3em;
			}
			p {
				text-align: center;
				margin: 0;
				span {
					margin: 0;
					text-transform: uppercase;
					font-size: 0.75em;
					line-height: 0.75em;
				}
			}		
		}
	}
}

.pplyouknow {
	.tile-wrapper  {
		text-align: center;
	}
	.nophoto {
		text-align: center;
	}
	img {
	margin: auto;
	border-radius: 50%;
	  }
}

.groups {
	display: inline;
	img {
		height: 3em;
		width: 3em;
		float: left;
		margin: 1em 0em;
	}
	.text {
		width: 80%;
		float: left;
		margin: 1em 0em;
	}
}

footer {
    background-color: $primary-color;
    position:fixed; 
    z-index:2;
    bottom:0; left:0;
    width:100%;
    height:4em;
    padding:0;
}

.footer-nav-link {
	width: 24%;
	box-sizing: border-box;
	display: inline-block;
	margin: 0em;
	text-align: center;
	i {
		color: $lightest-color;
	}
	h5 {
		margin: 0em;
		color: $lightest-color;
		font-weight: normal;
	}
	}


/* tablet and desktop */

@media only screen and (min-width: 768px) {

	.wholething {
		display: inline-block;
	}

	.lefthalf {
		margin: 4em 0em;
		float: left;
		display: inline-block;
	}

	.righthalf {
		margin-top: 4em;
		margin-right: 0em;
   		position:fixed; 
   		overflow: hidden;
    	z-index:1;
    	top:0; right:0;
    	width:35%;
    	height:100%;
    	padding:0;
		display: inline-block;
		width: 45%;
		float: right;
		padding: 0em 2em;
		box-sizing: border-box;
		border-left: solid 1px $light-color;
		background-color:rgba(17, 46, 81, 0.1);
		h2 {
			margin: 0.4em 0em 0em 0em;
		}
		h3 {
			margin: 0em 0em 0.5em 0em;
		}
		p {
			line-height: 1.25em;
		}
		.button {
			margin: 0em auto 0.5em auto;
			padding: 0.25em;
			h4 {
				margin-top: 0.5em;
				vertical-align: center;
			}
		}
		.secondrow {
			display: none;
		}
		.extragroups {
			display: none;
		}
	}
}

/* desktop only */

@media only screen and (min-width: 960px) {
	.nav-link {
	display: inline-block;
	}

	.header-left {
		float: left;
		width: 50%;
	}

	.header-right {
		float: right;
		width: 45%;
	}

	.righthalf {
		h2 {
		margin-bottom: 0em;
		}
		h3 {
		margin-top: 1.25em;
		}
	}

	footer {
		display: none;
	}
}