<footer>
	<ul class = "footer-nav">
		<a href = "#">
			<li class = "footer-nav-link">
				<i class="fa fa-comments"></i>
				<h5>Messages</h5>
			</li>
		</a>
		<a href = "#">
			<li class = "footer-nav-link">
				<i class="fa fa-share-alt"></i>
				<h5>Network</h5>
			</li>
		</a>
		<a href = "#">
			<li class = "footer-nav-link">
				<i class="fa fa-briefcase"></i>
				<h5>Jobs</h5>
			</li>
		</a>
		<a href = "#">
			<li class = "footer-nav-link">
				<i class="fa fa-users"></i>
				<h5>Groups</h5>
			</li>
		</a>
	</ul>
</footer>
