<header class="site-header row">
	<div class = "header-left column-6">
			<ul class = "nav-wrapper">
				<a href = "#">
					<li class = "linkedin-square nav-link">
						<i class="fa fa-linkedin-square"></i>
						<h5> </h5>
					</li>
				</a>
				<a href = "#">
					<li class = "nav-link">
						<i class="fa fa-comments"></i>
						<h5>Messages</h5>
					</li>
				</a>
				<a href = "#">
					<li class = "nav-link">
						<i class="fa fa-share-alt"></i>
						<h5>Network</h5>
					</li>
				</a>
				<a href = "#">
					<li class = "nav-link">
						<i class="fa fa-briefcase"></i>
						<h5>Jobs</h5>
					</li>
				</a>
				<a href = "#">
					<li class = "nav-link">
						<i class="fa fa-users"></i>
						<h5>Groups</h5>
					</li>
				</a>
			</ul>
	</div>
	<div class = "header-right column-6">
		<div class="search-wrapper">
          <input id="search-field-big" type="search" name="search"/>
          <button class="search">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </div>
	</div>
</header>
